nav{
    display: flex;
    justify-content: center;
}

body{
    background-image: url('./asset/nav.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;

}

nav button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color:rgba(0, 0, 0, 0);
}
nav{
    background-color: rgba(0, 0, 0, 0.5);

}

#content{
    background-color: rgba(255,255,255,0.5);
}

nav .active{
    background-color: red;
}